[submodule "edk2"]
	path = edk2
	url = https://github.com/tianocore/edk2.git
[submodule "edk2-platforms"]
	path = edk2-platforms
	url = https://github.com/AmpereComputing/edk2-platforms.git
[submodule "edk2-ampere-tools"]
	path = edk2-ampere-tools
	url = https://github.com/AmpereComputing/edk2-ampere-tools.git
